.training {

.start {
  right: 37.5%;
  bottom: 0%;
  display: flex;
}
.inTraining {
  right: 0%;
  bottom: 0%;
  display: none;
}
.stop{
  right: 0%;
  bottom: 10%;
  size: 75%;
  display: none;
}
.pause{
  right: 0%;
  bottom: 20%;
  width: 75%;
  display: none;
}


.exSquare{



}



    



}
